*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 0;
}

.header{
    margin: 0;
    background-color:#1F2937;
    justify-content:space-between;
}

.header .header-main{
    margin-top: 0;
    color: white;
    height:10px;
    margin:0;
    margin-bottom:50px;
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
}


.header .link{
    background-color:#1F2937;
    display:flex;
    justify-content: space-between;
}
.header-main button{
    color: white;
    background-color:#1F2937; 
    cursor: pointer;
}

.header .header-details{
    margin:0;
    display: flex;
    color:white;
    align-items:center;
}

.header-text h1,.header-text p,.header-text .signIn-button{
    margin:0;
}

.header .header-text{
    flex:1 1 0;
}

.header-text .signIn-button{
    color: white;
    margin:30px;
    width:70px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    background-color:#5890FF;
    border-radius:5px;
    box-sizing:border-box;
    cursor: pointer;
}

.header-text h1{
    font-size:2em;
    margin-bottom:0px;

}

.header .header-image{ 
    color:black;
    height:150px;
    width:30px;
    margin:10px;
    flex:1 1 0;
    background-color:white;
}

.section1{
margin-bottom:40px;
}

.section1 .random{
    display: flex;
    font-weight: 100px;
    justify-content: center;

}

.section1 .pics{
    display: flex;
    justify-content: center;
    gap:20px;
}

.pics .pic-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic-box .pic{ 
    height:100px;
    width:100px;
    border-radius: 10px;
    border:3px solid blue;
    background-color: white;
}

.quote{
    height: 150px;
    background-color:#E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author-text{
    font-size: 20px;
    font-weight:200;
}

.author{
    font-size: 10px;
    align-self: flex-end;
    padding-right: 50px;

}

.sign-up-section{ 
    margin: 30px;
}

.sign-up{
    height: 100px;
    padding: 20px;
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: center;
}

.sign-up .sign-up-text{
    margin-top: 10px;
    color: white;
    font-size: 12px;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.sign-up-text h2{
    margin-bottom: 0;
}

.sign-up-text p{
    margin-top: 0;
}

.sign-up .sign-up-button{
    height: 20px;
    width:90px;
    color: white;
    margin: 45px;
    border-radius: 5px;
    border:2px solid white;
    font-weight: bold;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;
}

.footer{
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

